/* Colors */

:root {
    --dark_text: #000000;
    --btn_col: #0061FF;
    --secondary_text: #61082B;
    --bg_color_secondary: #B4D0E7;
    --light_col: #FFFFFF;
    --text_light: #7E8B96;
    --florida_bg: #0093CE;
    --lonely_bg: #0D2481;
    --topps_bg: #FF1C1C;
    --clear_bg: #FFD830;
    --desig_bg: #A2D39B;


}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 1440px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--dark_text)
}

p,
span,
a {
    font-size: 12px;

}

h1 {
    font-size: 68px;
    padding: 3rem 7rem 0px 4rem;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

/* #region Utility */

.container_large {
    width: 90%;
    margin: auto;
}

.container_med {
    width: 70%;
    margin: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
 
.col_100 {
    width: 100%;
}

.col_90 {
    width: 90%;
}

.col_70 {
    width: 70%;
}

.col_60 {
    width: 60%;
}

.col_50 {
    width: 50%;
}

.col_33 {
    width: 33.33%;
}

.col_30 {
    width: 30%;
}

.col_25 {
    width: 25%;
}

.col_20 {
    width: 20%;
}
.col_10 {
    width: 10%;
}
[class^=col_] {
    float: left;
}

/* margin */

.m_top_large {
    margin-top: 150px;
}

.m_top_med {
    margin-top: 100px;
}

.m_top_sml {
    margin-top: 40px;
}

.m_bot_med {
    margin-bottom: 100px;
}

.m_bot_sml {
    margin-bottom: 25px;
}

/* button */

.btn_small {
    background-color: var(--btn_col);
    color: var(--light_col);
    padding: 0.5rem 1rem;
    display: inline-block;
}

.btn_full {
    background-color: var(--btn_col);
    color: var(--light_col);
    padding: 0.5rem 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}

.p_rel {
    position: relative;
}


.pos_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Common */
.plan, 
.team{
    padding: 1.3rem;
    border: solid 1px var(--bg_color_secondary);
}

.link_und {
    color: var(--btn_col);
    text-decoration: underline;
}

/* #endregion Utility */

/* #region Debug */



.test_grid>div {
    height: 50%;
}

.testimonials>.col_100 {
    background-color: darkmagenta;
    height: 400px;
}

.free_try {
    height: 100%;
    background-color: darkturquoise;
}

.faq_box {
    height: 500px;
    background-color: springgreen;
}

/* .col_20 {
    background-color: peru;
    height: 400px;
    border: solid black;
} */

.txt_right {
    text-align: right;
}

.language {
    background-color: darksalmon;
    height: 200px;
}



/* #endregion Debug */

/* Header */

/* #region Navbar */
.navbar {
    margin: 1rem 1rem;
    vertical-align: middle;
}

.nav_right {
    line-height: 100%;
    vertical-align: middle;
}

.nav_left>div {
    display: inline-block;

}

.nav_right {
    text-align: right;
}

.logo>img {
    vertical-align: sub;
}


.navbar a {
    padding: 0.5rem 1.5rem;
}

/* #endregion Navbar */

/*********
 Main 
 **********/

/* #region Banner */

.box_banner {
    margin: auto;
    background-color: var(--bg_color_secondary);
    max-height: 650px;
}

.banner_row {
    padding-left: 4rem;
    padding-top: 4.5rem;
}


.arrow {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.banner_row img {
    max-width: 100%;
    width: 100%;
}

/* #endregion Banner */

/* #region Business plans */

.plans h5 {
    text-align: center;
    border: solid 1px var(--bg_color_secondary);
}

.plan {
    height: 900px;
}

.plans>.col_30 {
    margin: 0 1%;
}

.plans>.col_30>h5,
.enterprise>h5{
    padding: 0.5rem;
}

.plan>span,
.plan>hr,
.plan>h4{
    display: block;
    margin-top: 2rem;
}

.plan>div{
    font-size: 12px;
    margin: 2rem 0;
}

.plan span:nth-of-type(2) {
    color: var(--text_light);
    margin-top: 2px;
}

.btn_blue {
    line-height: initial;
}

.plan>hr {
    width: 30%;
}

.check {
    color: var(--btn_col);
}

.team
{
    padding: 1.5rem;
}

.enterprise>h3 {
    display: inline;
}

.contact span,
.team h4 {
    display: block;
    margin-top: 2rem;
}


/* #endregion Business plans */

/* #region Partner */ 
.partner_img>img{
object-fit: cover;
max-width: 100%;
width: 100%;
}

.partner_text{
    padding: 2rem 0 2rem 2rem;
}

.partner_text>span{
    line-height: 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    
}

.btn_light{
    display: inline-block;
    margin-top: 1rem;
    border:solid 1px var(--text_light);
    padding: 0.4rem 1rem;
}
/* #endregion Partner */

/* #region Operation */

.operations>.col_33{
    padding: 1rem;
}

.operation img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.operation span{
    display: inline-block;
    margin-top: 1rem;
}

/* #endregion Operation */

/* #region Teams */

.header_teams{
    padding-right: 28rem;
}

.testimonials>div {
    height: 360px;
}


.test_grid img{
    width: 65%;
    max-width: 100%;
    filter: invert(1);
}


.bg_florida{
    background-color: var(--florida_bg);
}

.bg_lonely{
    background-color: var(--lonely_bg);
}

.bg_topps{
    background-color: var(--topps_bg);
}

.bg_clear{
    background-color: var(--clear_bg);
}

.bg_designit{
background-color: var(--desig_bg);
}

.bg_arizona{
    background-color: var(--secondary_text);
}

.bg_secondary{
    background-color: var(--bg_color_secondary);
}
.testimonials>.col_50{
    padding: 3rem;
}
.testimonials>.col_50>img{
    width: 20%;
}

.testimonials>.col_50>hr{
    width: 10%;
    margin-top: 1rem;
}
/* #endregion Teams */