/* Colors */

:root{
    --dark_text: #000000;
    --btn_col: #0061FF;    
    --secondary_text: #61082B;
    --bg_color_secondary: #B4D0E7;
    --light_col: #FFFFFF;

}

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1920px;
    margin: auto;
}



/* Utility */

.container_large{
    width: 1400px;
    margin: auto;
}

.container_med{
    width: 1200px;
    margin: auto;
}

.row::after{
content: "";
display: table;
clear: both;
}

.col_50{
    width: 50%;
}

.col_33{
    width: 33.3%;
}

[class^=col_]{
    float: left;
}

/* Debug */

.navbar>div{
    height: 100px;
    background-color: red;
}

.banner{
    background-color: #0061FF;
    height: 800px;
}

