/* Colors */

:root{
    --dark_text: #000000;
    --btn_col: #0061FF;    
    --secondary_text: #61082B;
    --bg_color_secondary: #B4D0E7;
    --light_col: #FFFFFF;

}

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1920px;
    margin: auto;
}



/* Utility */

.container_large{
    width: 1400px;
    margin: auto;
}

.container_med{
    width: 1200px;
    margin: auto;
}

.row::after{
content: "";
display: table;
clear: both;
}

.col_50{
    width: 50%;
}

.col_33{
    width: 33.33%;
}

[class^=col_]{
    float: left;
}

.m_top_large{
    margin-top: 200px;
}

.m_top_med{
    margin-top: 100px;
}

.m_top_sml{
    margin-top:50px ;
}

/* Debug */

.navbar>div{
    height: 100px;
    background-color: red;
}

.banner{
    background-color: #0061FF;
    height: 800px;
}

.header_business{
    background-color: red;
    height: 300px;
}

.plans > div{
    background-color: blue;
    height: 1100px;
    border: solid black;
}

.enterprise{
    height: 250px;
    background-color: aqua;
}

.partner{
    height: 600px;
    background-color: #ff06f3;
}

.partner>div{
    border: solid black;
    height: 100%;
}

