/* Colors */

:root{
    --dark_text: #000000;
    --btn_col: #0061FF;    
    --secondary_text: #61082B;
    --bg_color_secondary: #B4D0E7;
    --light_col: #FFFFFF;

}

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
}

/* Utility */

.container_large{
    width: 1200px;
}

.container_med{
    width: 1000px;
}

.row::after{
content: "";
display: table;
clear: both;
}

.col_50{
    width: 50%;
}

.col_33{
    width: 33.3%;
}

