/* Colors */

:root {
    --dark_text: #000000;
    --btn_col: #0061FF;
    --secondary_text: #61082B;
    --bg_color_secondary: #B4D0E7;
    --light_col: #FFFFFF;

}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color:var(--dark_text)
}

p, span, a{
    font-size: 20px;

}

h1{
    font-size: 85px;
}

/* Utility */

.container_large {
    width: 1400px;
    margin: auto;
}

.container_med {
    width: 1200px;
    margin: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col_100 {
    width: 100%;
}
.col_60{
    width: 60%;
}
.col_50 {
    width: 50%;
}

.col_33 {
    width: 33.33%;
}

.col_30{
    width: 30%;
}

.col_25 {
    width: 25%;
}

.col_20 {
    width: 20%;
}

[class^=col_] {
    float: left;
}

.m_top_large {
    margin-top: 150px;
}

.m_top_med {
    margin-top: 100px;
}

.m_top_sml {
    margin-top: 40px;
}

.m_bot_med{
    margin-bottom: 100px;
}

.m_bot_sml{
    margin-bottom: 25px;
}

.btn_blue{
    background-color: var(--btn_col);
    color: var(--light_col);
    padding: 0.5rem 2rem;
    display: inline-block;
}

/* Debug */

/* .navbar>div {
    height: 100px;
    background-color: red;
} */

/* .banner {
    background-color: #0061FF;
    height: 800px;
} */

.header_business {
    background-color: red;
    height: 300px;
}

.plans>div,
.operations>div {
    background-color: blue;
    height: 1100px;
    border: solid black;
}

.enterprise {
    height: 250px;
    background-color: aqua;
}

.partner {
    height: 600px;
    background-color: #ff06f3;
}

.partner>div {
    border: solid black;
    height: 100%;
}

.header_operation {
    height: 150px;
    background-color: red;
}

.header_team {
    background-color: darkturquoise;
    height: 200px;
}

.testimonials>div {
    height: 500px;
    background-color: yellow;
    border: solid black;
}

.test_grid>div {
    height: 50%;
    border: solid black;
}

.testimonials>.col_100 {
    background-color: darkmagenta;
    height: 400px;
}

.free_try {
    height: 100%;
    background-color: darkturquoise;
}

.faq_box {
    height: 500px;
    background-color: springgreen;
}

.col_20 {
    background-color: peru;
    height: 400px;
    border: solid black;
}

.language {
    background-color: darksalmon;
    height: 200px;
}

/* Header */

/* Navbar */
.navbar{
    margin: 1rem 1rem;
    vertical-align: middle;
}
.nav_left>div {
    display: inline-block;
}

.nav_right{
    text-align: right;
}

.logo>img{
    vertical-align: sub;
}


.navbar a{
    padding: 0.5rem 1.5rem;
}

/* Banner */

.box_banner{
    padding-top: 100px;
    background-color: var(--bg_color_secondary);
    max-height: 920px;
}

.banner_row > .col_30{
    margin-right: 10%;
    padding: 6rem 0;
}

.banner_row img{
    max-width: 100%;
    width: 100%;
}